<%
console.log(PAGE_DATA)
-%>
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%- PAGE_DATA.contents.title %></title>
</head>
<body>
  <div>
    <h1><%- PAGE_DATA.contents.title %></h1>
    <p><%- PAGE_DATA.contents.text %></p>
  </div>
</body>
</html>